@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://use.typekit.net/yrt4scv.css");

html {
  overflow-x: hidden !important;
  background: fixed !important;
}

section {
  text-align-last: center;
}

section > .title {
  font-family: liberation-sans,sans-serif;
  font-style: normal;
  margin: 0px;
  color: rgb(32, 35, 41);
  border: none;
  margin-top: -15.5rem;
  margin-bottom: 8rem;
  font-weight: 900;
  z-index: 1;
  font-size: 5.625rem;
  overflow: hidden;
}

.main-home {
  width: 100vh;
}

.section-home > h1 {
  font-family: liberation-sans,sans-serif;
  font-style: normal;
  margin: 0px;
  color: rgb(32, 35, 41);
  border: none;
  font-weight: 900;
  z-index: 1;
  font-size: 3rem;
}
.section-home > h2 {
  font-family: liberation-sans,sans-serif;
  font-style: normal;
  margin: 0px;
  color: rgb(32, 35, 41);
  border: none;
  font-weight: 900;
  z-index: 1;
  font-size: 1.8rem;
  text-align-last: start;
}
.section-home > h4 {
  font-family: liberation-sans,sans-serif;
  font-style: normal;
  margin: 0px;
  color: rgb(73, 74, 77);
  border: none;
  font-weight: 900;
  z-index: 1;
  font-size: 1.2rem;
}
.section-home > p > a {
  margin-right: .2rem;
}
.character-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  place-content: center;
  margin-bottom: 1rem;
}

body > app-root > div > app-home > main > section > p.p-project {
  font-family: liberation-sans,sans-serif;
  font-style: normal;
  margin: 0px;
  color: rgb(73, 74, 77);
  border: none;
  font-weight: 900;
  z-index: 1;
  font-size: 16px;
}

body > app-root > div > app-home > main > section > ul{
  margin-top: 1rem;
  text-align-last: start;
}

body > app-root > app-navbar > nav {
  width: initial;
}

@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: max-content;
}
}

@media (max-width: 768px) {
  body > app-root > div > app-personagens-lista > main > section > h1 {
    text-align: center;
  }
  .navbar{
    width: 100%;
    min-width: 109.5%;
  }
  section > .title {
    font-family: liberation-sans,sans-serif;
    font-style: normal;
    margin: 0px;
    color: rgb(32, 35, 41);
    border: none;
    margin-top: -17.5rem;
    /* margin-bottom: 8rem; */
    font-weight: 900;
    z-index: 1;
    font-size: 4.625rem;
}
main {
  margin-top: 1.8rem;
}
.collapse:not(.show) {
  display: flex;
}
.mobile-remove{
  display: none;
}
}


